{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3 class="mb-4">List Data Barang</h3>
    <a href="{{ url_for('create') }}" class="btn btn-primary mb-4">Tambahkan data baru</a>

    <!-- Search Bar -->
    <div class="input-group mb-1">
        <input type="text" class="form-control" id="searchInput" placeholder="Cari barang..." aria-label="Cari barang...">
        <button class="btn btn-secondary btn-lg" style="height: fit-content;" type="button" id="searchButton">Cari</button>
    </div>

    <!-- Tabel untuk item -->
    <div class="table-responsive">
        <table class="table table-striped" id="dataTable">
            <thead class="table-dark">
                <tr>
                    <th>ID Barang</th>
                    <th>Nama Barang</th>
                    <th>Stok</th>
                    <th>Harga per satuan</th>
                    <th>Menu</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.stok }}</td>
                    <td>Rp. {{ item.harga }}</td>
                    <td>
                        <a href="{{ url_for('update', id=item.id) }}" class="btn btn-sm btn-warning">Update</a>
                        <a href="{{ url_for('delete', id=item.id) }}" onclick="return confirm('Apakah anda yakin ingin menghapus data ini?')" class="btn btn-sm btn-danger">Hapus</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('log') }}" class="btn btn-secondary mb-4 float-end" style="margin-right: 5px;">Lihat Log data</a>
    </div>
</div>
{% endblock %}
