{% extends "base.html" %}

{% block content %}
<h1>Perbaharui Data Barang</h1>
<form method="POST">
    <label for="name" class="form-label">Nama:</label>
    <input type="text" id="name" name="name" value="{{ item.name }}" required>
    <label for="stok" class="form-label">Jumlah Stok:</label>
    <input type="text" id="stok" name="stok" value="{{ item.stok }}" required>
    <label for="harga" class="form-label">Harga per satuan:</label>
    <input type="text" id="harga" name="harga" value="{{ item.harga }}" required>
    
    <button type="submit">Update</button>
</form>
<a href="{{ url_for('index') }}">Kembali</a>
{% endblock %}
